#container {
  display: flex;
  flex-direction: space-between;
}

#editor-outer {
  height: 400px;
  width: 800px;
  border: 2px solid black;
  overflow: hidden ;
}

#editor {
  position: relative;
  top: 100px;
  left: 100px;
  height: 200px;
  width: 400px;
  border: 2px solid blue;
  overflow-x: visible;

}

#editor > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar {
  border: 1px solid black;
  width: 200px;
}

.slider {
  width: 800px;
}
