#container {
  display: flex;
  flex-direction: space-between;
}

#editor-outer {
  height: 400px;
  width: 800px;
  border: 2px solid black;
  overflow: hidden ;
}

#editor {
  position: relative;
  height: 200px;
  width: 400px;
  border: 2px solid blue;
  overflow: visible;
}

#sidebar {
  border: 1px solid black;
  width: 200px;
}

.slider {
  width: 800px;
}
