#container {
  display: flex;
  flex-direction: space-between;
}

#editor-outer {
  height: 400px;
  width: 800px;
  border: 2px solid black;
  overflow: hidden;
}

#editor-position {
  position: relative;
  top: 100px;
  left: 100px;
  height: 200px;
  width: 400px;
  border: 2px solid blue;
  overflow-x: visible;
}

#editor-overlay {
  z-index: 5;
  border: 2px solid red;
  background: rgb(50, 0, 0, 0.2);
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
}

#editor > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar {
  border: 1px solid black;
  width: 200px;
}

.slider {
  width: 800px;
}
